### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#test
### CMake Patch ###
# External projects
*-prefix/

### VisualStudioCode ###
.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
build/
build/IKindaLikePhysics.vcxproj
build/IKindaLikePhysics.vcxproj.filters
build/.cmake/api/v1/reply/codemodel-v2-86eb431f0064e96522e3.json
build/.cmake/api/v1/reply/codemodel-v2-b74a1bd6ee3f0f63c4fb.json
build/.cmake/api/v1/reply/index-2024-09-02T01-09-01-0836.json
build/.cmake/api/v1/reply/index-2024-09-03T00-21-04-0256.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-Debug-6ec20b8317943a6ed0e1.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-Debug-dc2cc27da34aaa80d46b.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-MinSizeRel-aa0cd093459fa14c1512.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-MinSizeRel-eaf58627af7f4a3e98a9.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-Release-8eab2c9e987cafd32f0e.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-Release-3845f46ab18f130431b2.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-RelWithDebInfo-10e8be0a6b38ebe4314d.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-RelWithDebInfo-08684b609f84034f9612.json
build/IKindaLikePhysics.dir/Debug/vc143.pdb
build/IKindaLikePhysics.dir/Debug/IKindaLi.AF8CB7BB.tlog/CL.command.1.tlog
build/IKindaLikePhysics.dir/Debug/IKindaLi.AF8CB7BB.tlog/CustomBuild.command.1.tlog
build/IKindaLikePhysics.dir/Debug/IKindaLi.AF8CB7BB.tlog/CustomBuild.read.1.tlog
build/IKindaLikePhysics.dir/Debug/IKindaLi.AF8CB7BB.tlog/CustomBuild.write.1.tlog
build/IKindaLikePhysics.dir/Debug/IKindaLi.AF8CB7BB.tlog/IKindaLikePhysics.lastbuildstate
build/IKindaLikePhysics.dir/Debug/IKindaLi.AF8CB7BB.tlog/unsuccessfulbuild
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/IKindaLikePhysics.vcxproj
build/IKindaLikePhysics.vcxproj.filters
build/.cmake/api/v1/reply/codemodel-v2-86eb431f0064e96522e3.json
build/.cmake/api/v1/reply/index-2024-09-02T01-09-01-0836.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-Debug-dc2cc27da34aaa80d46b.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-MinSizeRel-aa0cd093459fa14c1512.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-Release-3845f46ab18f130431b2.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-RelWithDebInfo-10e8be0a6b38ebe4314d.json
build/ALL_BUILD.vcxproj
build/IKindaLikePhysics.vcxproj
build/IKindaLikePhysics.vcxproj.filters
build/Project.sln
build/ZERO_CHECK.vcxproj
build/.cmake/api/v1/reply/cache-v2-9bb7b664bb5a4907f344.json
build/.cmake/api/v1/reply/cmakeFiles-v1-8f1fff00295b2dcd66e4.json
build/.cmake/api/v1/reply/codemodel-v2-86eb431f0064e96522e3.json
build/.cmake/api/v1/reply/index-2024-09-02T01-09-01-0836.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-d54cf5625afb22014286.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-d54cf5625afb22014286.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-d54cf5625afb22014286.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-d54cf5625afb22014286.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-Debug-dc2cc27da34aaa80d46b.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-MinSizeRel-aa0cd093459fa14c1512.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-Release-3845f46ab18f130431b2.json
build/.cmake/api/v1/reply/target-IKindaLikePhysics-RelWithDebInfo-10e8be0a6b38ebe4314d.json
vcpkg_installed/vcpkg/status
vcpkg_installed/vcpkg/vcpkg-lock.json
vcpkg_installed/vcpkg/info/fmt_11.0.2_x64-windows.list
vcpkg_installed/vcpkg/info/spdlog_1.14.1_x64-windows.list
vcpkg_installed/vcpkg/info/vcpkg-cmake_2024-04-23_x64-windows.list
vcpkg_installed/vcpkg/info/vcpkg-cmake-config_2024-05-23_x64-windows.list
vcpkg_installed/x64-windows/bin/fmt.dll
vcpkg_installed/x64-windows/bin/spdlog.dll
vcpkg_installed/x64-windows/debug/bin/fmtd.dll
vcpkg_installed/x64-windows/debug/bin/spdlogd.dll
vcpkg_installed/x64-windows/debug/lib/fmtd.lib
vcpkg_installed/x64-windows/debug/lib/spdlogd.lib
vcpkg_installed/x64-windows/debug/lib/pkgconfig/fmt.pc
vcpkg_installed/x64-windows/debug/lib/pkgconfig/spdlog.pc
vcpkg_installed/x64-windows/include/fmt/args.h
vcpkg_installed/x64-windows/include/fmt/base.h
vcpkg_installed/x64-windows/include/fmt/chrono.h
vcpkg_installed/x64-windows/include/fmt/color.h
vcpkg_installed/x64-windows/include/fmt/compile.h
vcpkg_installed/x64-windows/include/fmt/core.h
vcpkg_installed/x64-windows/include/fmt/format-inl.h
vcpkg_installed/x64-windows/include/fmt/format.h
vcpkg_installed/x64-windows/include/fmt/os.h
vcpkg_installed/x64-windows/include/fmt/ostream.h
vcpkg_installed/x64-windows/include/fmt/printf.h
vcpkg_installed/x64-windows/include/fmt/ranges.h
vcpkg_installed/x64-windows/include/fmt/std.h
vcpkg_installed/x64-windows/include/fmt/xchar.h
vcpkg_installed/x64-windows/include/spdlog/async_logger-inl.h
vcpkg_installed/x64-windows/include/spdlog/async_logger.h
vcpkg_installed/x64-windows/include/spdlog/async.h
vcpkg_installed/x64-windows/include/spdlog/common-inl.h
vcpkg_installed/x64-windows/include/spdlog/common.h
vcpkg_installed/x64-windows/include/spdlog/formatter.h
vcpkg_installed/x64-windows/include/spdlog/fwd.h
vcpkg_installed/x64-windows/include/spdlog/logger-inl.h
vcpkg_installed/x64-windows/include/spdlog/logger.h
vcpkg_installed/x64-windows/include/spdlog/mdc.h
vcpkg_installed/x64-windows/include/spdlog/pattern_formatter-inl.h
vcpkg_installed/x64-windows/include/spdlog/pattern_formatter.h
vcpkg_installed/x64-windows/include/spdlog/spdlog-inl.h
vcpkg_installed/x64-windows/include/spdlog/spdlog.h
vcpkg_installed/x64-windows/include/spdlog/stopwatch.h
vcpkg_installed/x64-windows/include/spdlog/tweakme.h
vcpkg_installed/x64-windows/include/spdlog/version.h
vcpkg_installed/x64-windows/include/spdlog/cfg/argv.h
vcpkg_installed/x64-windows/include/spdlog/cfg/env.h
vcpkg_installed/x64-windows/include/spdlog/cfg/helpers-inl.h
vcpkg_installed/x64-windows/include/spdlog/cfg/helpers.h
vcpkg_installed/x64-windows/include/spdlog/details/backtracer-inl.h
vcpkg_installed/x64-windows/include/spdlog/details/backtracer.h
vcpkg_installed/x64-windows/include/spdlog/details/circular_q.h
vcpkg_installed/x64-windows/include/spdlog/details/console_globals.h
vcpkg_installed/x64-windows/include/spdlog/details/file_helper-inl.h
vcpkg_installed/x64-windows/include/spdlog/details/file_helper.h
vcpkg_installed/x64-windows/include/spdlog/details/fmt_helper.h
vcpkg_installed/x64-windows/include/spdlog/details/log_msg_buffer-inl.h
vcpkg_installed/x64-windows/include/spdlog/details/log_msg_buffer.h
vcpkg_installed/x64-windows/include/spdlog/details/log_msg-inl.h
vcpkg_installed/x64-windows/include/spdlog/details/log_msg.h
vcpkg_installed/x64-windows/include/spdlog/details/mpmc_blocking_q.h
vcpkg_installed/x64-windows/include/spdlog/details/null_mutex.h
vcpkg_installed/x64-windows/include/spdlog/details/os-inl.h
vcpkg_installed/x64-windows/include/spdlog/details/os.h
vcpkg_installed/x64-windows/include/spdlog/details/periodic_worker-inl.h
vcpkg_installed/x64-windows/include/spdlog/details/periodic_worker.h
vcpkg_installed/x64-windows/include/spdlog/details/registry-inl.h
vcpkg_installed/x64-windows/include/spdlog/details/registry.h
vcpkg_installed/x64-windows/include/spdlog/details/synchronous_factory.h
vcpkg_installed/x64-windows/include/spdlog/details/tcp_client-windows.h
vcpkg_installed/x64-windows/include/spdlog/details/tcp_client.h
vcpkg_installed/x64-windows/include/spdlog/details/thread_pool-inl.h
vcpkg_installed/x64-windows/include/spdlog/details/thread_pool.h
vcpkg_installed/x64-windows/include/spdlog/details/udp_client-windows.h
vcpkg_installed/x64-windows/include/spdlog/details/udp_client.h
vcpkg_installed/x64-windows/include/spdlog/details/windows_include.h
vcpkg_installed/x64-windows/include/spdlog/fmt/bin_to_hex.h
vcpkg_installed/x64-windows/include/spdlog/fmt/chrono.h
vcpkg_installed/x64-windows/include/spdlog/fmt/compile.h
vcpkg_installed/x64-windows/include/spdlog/fmt/fmt.h
vcpkg_installed/x64-windows/include/spdlog/fmt/ostr.h
vcpkg_installed/x64-windows/include/spdlog/fmt/ranges.h
vcpkg_installed/x64-windows/include/spdlog/fmt/std.h
vcpkg_installed/x64-windows/include/spdlog/fmt/xchar.h
vcpkg_installed/x64-windows/include/spdlog/sinks/android_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/ansicolor_sink-inl.h
vcpkg_installed/x64-windows/include/spdlog/sinks/ansicolor_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/base_sink-inl.h
vcpkg_installed/x64-windows/include/spdlog/sinks/base_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/basic_file_sink-inl.h
vcpkg_installed/x64-windows/include/spdlog/sinks/basic_file_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/callback_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/daily_file_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/dist_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/dup_filter_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/hourly_file_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/kafka_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/mongo_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/msvc_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/null_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/ostream_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/qt_sinks.h
vcpkg_installed/x64-windows/include/spdlog/sinks/ringbuffer_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/rotating_file_sink-inl.h
vcpkg_installed/x64-windows/include/spdlog/sinks/rotating_file_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/sink-inl.h
vcpkg_installed/x64-windows/include/spdlog/sinks/sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/stdout_color_sinks-inl.h
vcpkg_installed/x64-windows/include/spdlog/sinks/stdout_color_sinks.h
vcpkg_installed/x64-windows/include/spdlog/sinks/stdout_sinks-inl.h
vcpkg_installed/x64-windows/include/spdlog/sinks/stdout_sinks.h
vcpkg_installed/x64-windows/include/spdlog/sinks/syslog_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/systemd_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/tcp_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/udp_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/win_eventlog_sink.h
vcpkg_installed/x64-windows/include/spdlog/sinks/wincolor_sink-inl.h
vcpkg_installed/x64-windows/include/spdlog/sinks/wincolor_sink.h
vcpkg_installed/x64-windows/lib/fmt.lib
vcpkg_installed/x64-windows/lib/spdlog.lib
vcpkg_installed/x64-windows/lib/pkgconfig/fmt.pc
vcpkg_installed/x64-windows/lib/pkgconfig/spdlog.pc
vcpkg_installed/x64-windows/share/fmt/copyright
vcpkg_installed/x64-windows/share/fmt/fmt-config-version.cmake
vcpkg_installed/x64-windows/share/fmt/fmt-config.cmake
vcpkg_installed/x64-windows/share/fmt/fmt-targets-debug.cmake
vcpkg_installed/x64-windows/share/fmt/fmt-targets-release.cmake
vcpkg_installed/x64-windows/share/fmt/fmt-targets.cmake
vcpkg_installed/x64-windows/share/fmt/usage
vcpkg_installed/x64-windows/share/fmt/vcpkg_abi_info.txt
vcpkg_installed/x64-windows/share/fmt/vcpkg.spdx.json
vcpkg_installed/x64-windows/share/spdlog/copyright
vcpkg_installed/x64-windows/share/spdlog/spdlogConfig.cmake
vcpkg_installed/x64-windows/share/spdlog/spdlogConfigTargets-debug.cmake
vcpkg_installed/x64-windows/share/spdlog/spdlogConfigTargets-release.cmake
vcpkg_installed/x64-windows/share/spdlog/spdlogConfigTargets.cmake
vcpkg_installed/x64-windows/share/spdlog/spdlogConfigVersion.cmake
vcpkg_installed/x64-windows/share/spdlog/usage
vcpkg_installed/x64-windows/share/spdlog/vcpkg_abi_info.txt
vcpkg_installed/x64-windows/share/spdlog/vcpkg.spdx.json
vcpkg_installed/x64-windows/share/vcpkg-cmake/copyright
vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg_abi_info.txt
vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg_cmake_build.cmake
vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg_cmake_configure.cmake
vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg_cmake_install.cmake
vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg-port-config.cmake
vcpkg_installed/x64-windows/share/vcpkg-cmake/vcpkg.spdx.json
vcpkg_installed/x64-windows/share/vcpkg-cmake-config/copyright
vcpkg_installed/x64-windows/share/vcpkg-cmake-config/vcpkg_abi_info.txt
vcpkg_installed/x64-windows/share/vcpkg-cmake-config/vcpkg_cmake_config_fixup.cmake
vcpkg_installed/x64-windows/share/vcpkg-cmake-config/vcpkg-port-config.cmake
vcpkg_installed/x64-windows/share/vcpkg-cmake-config/vcpkg.spdx.json
vcpkg.json
vcpkg-configuration.json
